<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.pn.mapper.RoleMapper">
    <insert id="insertUserRole">
        insert into user_role (role_id, user_id)
        values (#{param1}, #{param2})
    </insert>
    <insert id="insertRole">
        insert into role (role_id, role_name, role_desc, role_code, role_state, create_by, create_time)
        VALUES (#{roleName}, #{roleCode}, #{roleDesc}, 0, #{createBy}, now() })
    </insert>
    <update id="updateRoleState">
        update role
        set role_state = #{roleState},
            update_by=#{updateBy},
            update_time=#{updateTime}
        where role_id = #{roleId}
    </update>
    <update id="updateDescById">
        update role
        set role_desc=#{roleDesc},
            update_by=#{updateBy},
            update_time=now()
        where role_id = #{roleId}
    </update>

    <delete id="delRoleByUserId">
        delete
        from user_role
        where user_id = #{userId}
    </delete>
    <delete id="deleteRoleById">
        delete from role where role_id=#{roleId}
    </delete>

    <select id="findAllRole" resultType="com.pn.entity.Role">
        select role_id, role_name
        from role
        where role_state = 1
    </select>

    <select id="findRolesByUserId" resultType="com.pn.entity.Role">
        select *
        from role
        where role_id = #{roleId}
    </select>

    <select id="getRoleIdByName" resultType="java.lang.Integer">
        select role.role_id, role.role_name
        from role
        where role_name = #{roleName}
    </select>
    <select id="selectRoleCount" resultType="java.lang.Integer">
        select count(*) from user_role
        <where>
            <if test="roleName != null and roleName != ''">
                and role_name like concat('%', #{roleName}, '%')
            </if>
            <if test="roleCode != null and roleCode != ''">
                and role_code like concat('%', #{roleCode}, '%')
            </if>
            <if test="roleState != null and roleState != ''">
                and role_state=#{roleState}
            </if>
        </where>
    </select>
    <select id="selectRolePage" resultType="com.pn.entity.Role">
        select t1.*, t2.user_code from role t1, user_info t2
        <where>
            and t1.create_by = t2.user_id
            <if test="role.roleName != null and role.roleName != ''">
                and t1.role_name like concat('%', #{role.roleName}, '%')
            </if>
            <if test="role.roleCode != null and role.roleCode != ''">
                and t1.role_code like concat('%', #{role.roleCode}, '%')
            </if>
            <if test="role.roleState != null and role.roleState != ''">
                and t1.role_state = #{role.roleState}
            </if>
            limit #{page.limitIndex}, #{page.pageSize}
        </where>
    </select>
    <select id="findRoleByNameOrCode" resultType="com.pn.entity.Role">
        select * from role where role_name=#{param1} or role_code=#{param2}
    </select>

    <select id="findAuthIds" resultType="java.lang.Integer">
        select auth_id from role_auth where role_id=#{roleId}
    </select>


</mapper>